.videoToBlogPage{
  padding: 60px;
}


.statusCheck{
  margin-bottom: 30px;
}

.markdownContent img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }
  
  .markdownContent p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .markdownContent h1,
  .markdownContent h2,
  .markdownContent h3,
  .markdownContent h4 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .markdownContent img {
    max-width: 100%;
    margin: 10px auto;
    display: block;
  }
  
  .markdownContent a {
    color: #3498db;
    text-decoration: none;
  }
  
  .markdownContent {
    color: #f5f5f5;
    background-color: #1e1e1e;
    padding: 20px;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  